# System wide configuation for Firetunnel project

# seccomp configuration for parent and child processes
seccomp.child    write,read,close,open,openat,writev,select,sendto,recvfrom,socket,connect,fstat,stat,getpid,mmap,munmap,mremap,sigreturn,rt_sigprocmask,exit_group,kill,wait4
seccomp.parent sendto,write,read,close,open,openat,writev,ioctl,socket,connect,fstat,stat,getpid,mmap,munmap,mremap,sigreturn,rt_sigprocmask,exit_group,kill,wait4

#DNS servers - not more than 16 are allowed

# Cloudflare
dns 1.1.1.1
# Quad9
dns 9.9.9.9
# Level 3
dns 4.2.2.1
# Google
dns 8.8.8.8
# OpenDNS
dns 208.67.222.222
# Yandex
dns 77.88.8.8
# DNS.WATCH
dns 84.200.69.80
# Comodo Secure DNS
dns 8.26.56.26
